.header {
  background-color: rgb(22, 19, 19);
  height: 50px;
  width: 100vw;
  color: rgb(122, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* .tirBlock {
  display: flex;
  flex-direction: column;
}

.tirBlock button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid;
  display: block;
  width: 100px;
}

.tirBlock form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enterButton {
  display: block;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Diablo", sans-serif;
  color: red;
  background-color: black;
}

.calcBody {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.calcLabel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.calcInput {
  width: 300px;
  height: 30px;
}

.calcLabel input {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.info {
  display: flex;
}

.infoError {
  font-size: 24px;
  color: RED;
  text-transform: uppercase;
}

.infoResult {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.infoResultBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

h3 {
  font-size: 40px;
}
