nav {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.navLink {
  
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-left: hidden;
  border-radius: 5px;
}

.active {
  font-size: 20px;
  color: red
}
