body {
  font-family: "Diablo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Diablo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: url("./img/d4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
